body {
    background: #FFFF;
    font: sans-serif;
}

::selection {
    background: #FFED00;
    color: #000;
}

main {
    margin: 0 auto;
    max-width: 100%;
    width: 71rem;
}

h1 {
    font-family: 'Zilla Slab', serif;
    text-align: center;
}

h2 {
    font-family: 'Zilla Slab', serif;
    margin: 2.5rem 0 0.25rem;
}

h3 {
    color: #666;
    font-family: 'Zilla Slab', serif;
    margin: 1.5rem 0 0.5rem;
}

h3 strong {
    color: black;
}

.swatches {
    display: flex;
    flex-flow: column wrap;
    padding: 0 15px;
}

.swatches__group {
    display: flex;
    flex-flow: row wrap;
}

.swatch {
    align-content: center;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: center;
    margin: 10px;
    width: 6rem;
}

.swatch__color-name {
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}

.swatch__color-code {
    text-align: center;
}
